#con el asterisco y la extension del archivo o ubicacion del archivo no subimos al repositorio lo que no queremos hacer publico o subir al repositorio, pero esta dentro de nuestro proyecto local
*jfif
